ipykernel
scipy
numpy
mne
pandas
matplotlib
scikit-learn
seaborn
mne[data]
tqdm
PyQt5
EntropyHub
ipykernel
antropy
tabulate
pyedflib
EDFlib-Python
dit
mne-features
mne-icalabel
mne-connectivity
mne-qt-browser
pyvistaqt
nilearn
spectral_connectivity
vmdpy
pyentrp
autoreject
nolds
neurokit2
pyeeg
interpret
dash
plotly
#pyinform-0.2.0 (entropies calculation)


eeg-filters
pyQt5
pyqtgraph
loguru
torchsummary